<%= form_tag(cities_path, :method => 'get') do  %>
<p class="tagline">Find me a co-working session at <%= text_field_tag 'name' %></p>
<span class="inline">
  <span class="buttonblock">
	<%= submit_tag 'Search', { :class => 'button' } %>
  </span>
</span>
<%= link_to "See upcoming co-working sessions", events_path %>
<% end %>
</div>
</div>
<div id="secondary">
  <div class="container">
    <h2>Organizing your own session?</h2>
    <span class="buttonblock">
    <% if @current_user %>
      <%= link_to "Start a co-working session", new_event_path, { :class => 'button' } %>
    <% else %>
      <%= link_to "Start a co-working session", new_event_path, { :class => 'twitter' } %>
    <% end %>
    </span>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/flick/jquery-ui.css"></link>

<script>
$(function() {
		$( "#name" ).autocomplete({
			source: function( request, response ) {
				$.getJSON( "/cities.json", {
					name: request.term
				}, 	function(result) {
					response($.map(result, function(item) {
						return { 'label' : item.city.name, 'value' : item.city.slug };
					}) );
				} );
			},
			minLength: 2,
			select: function( event, ui ) {
				document.location.href = '/cities/' + ui.item.value;
			}
		});
});
</script>