<%= form_for :events, :method => :get do |f| %>
<p class="tagline">Find me a co-working session at <%= f.text_field :city %></p>
<span class="inline">
  <span class="buttonblock">
	<%= f.submit 'Search', { :class => 'button' } %>
  </span>
</span>
<%= link_to "See all available co-working sessions", events_path %>
<% end %>
</div>
</div>
<div id="secondary">
  <div class="container">
    <h2>Organizing your own session?</h2>
    <span class="buttonblock">
    <% if @current_user %>
      <%= link_to "Start a co-working session", new_event_path, { :class => 'button' } %>
    <% else %>
      <%= link_to "Start a co-working session", new_event_path, { :class => 'twitter' } %>
    <% end %>
    </span>
  </div>
</div>