<ul id="events">
  <% for event in @events %>
    <li>
      <acronym class="published">
      <span class="pub-month"><%= localize( event.starts_at, :format => :month )%></span>
      <span class="pub-date"><%= localize( event.starts_at, :format => :day ) %></span>
      </acronym>
      <span class="venue">
      <%= link_to event.place, city_event_path(event.city, event) %> (<%= event.city.name %>) at <%= localize( event.starts_at, :format => :time ) %></span><br />
      <% if event.attendees.any? %>
      <span class="attendees">
        <% for attendent in event.attendees.limit(11) %>
			<%= link_to image_tag("http://api.twitter.com/1/users/profile_image/#{attendent.nickname}.json?size=bigger"), "http://twitter.com/#{attendent.nickname}", { :title => attendent.name } %>
        <% end %>
	  </span>
      <% end %>
	 <%= link_to "View", event, { :class => "button2" } %>
	</li>
  <% end %>
</ul>