<h2 class="event">Organize a co-working session</h2>
<p class="event">Takes less than 30 seconds to create your own session</p>
<%= form_for @event do |f| %>
<% if @event.city && false %>
<%= f.hidden_field :city_id %>
<% else %>
<p>
<%= f.label :city %>
<%= f.text_field :city_name %>
</p>
<% end %>
<p>
<%= f.label :place %>
<%= f.text_field :place %>
</p>
<p>
<%= f.label :starts_at %>
<%= f.text_field :starts_at_time, {:value => localize( Time.zone.now.tomorrow.beginning_of_day + 19.hours, :format => :time) } %>
<%= f.text_field :starts_at_date, {:value => localize( Time.zone.now.tomorrow, :format => :short_date) } %>
<div id="datepicker"></div>
</p>
<p>
<%= f.label :description %>
<%= f.text_area :description %>
</p>
<p>
<span class="inline">
<span class="buttonblock">
<%= f.submit "Create", :class=>"button" %>
</span>
</span>
</p>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/flick/jquery-ui.css"></link>
<%= javascript_include_tag 'jquery.timePicker.min' %>
<%= stylesheet_link_tag 'timePicker' %>

<script>
$(function() {
	$( "#event_city_name" ).autocomplete({
		source: function( request, response ) {
			$.getJSON( "/cities.json", {
				name: request.term
			}, 	function(result) {
				response($.map(result, function(item) {
					return item.city.name
				}) );
			} );
		},
		minLength: 2,
		select: function( event, ui ) {
		}
	});
	$('#datepicker').datepicker( {
		altField: "#event_starts_at_date",
		altFormat: "M d",
		dateFormat: "M d",
		defaultDate: $('#event_starts_at_date').val(),
		showOtherMonths: true,
		selectOtherMonths: true,
		minDate: 0
	});
	$('#event_starts_at_date').change( function() {
		$('#datepicker').datepicker('setDate', $(this).val() );
	});
	$("#event_starts_at_time").timePicker( { show24Hours: false } );
});
</script>