<h2><%= @event.starts_at %></h2>
<p><%= @event.description %></p>
<div class="span-10">
  <h3>Who&rsquo;s coming?</h3>
  <% if @event.attendees.any? %>
    <% for attendent in @event.attendees %>
      <span class="attendees">
		<%= image_tag "http://api.twitter.com/1/users/profile_image/#{attendent.nickname}.json?size=bigger" %>
		<br>
		<%= attendent.name %>
	  </span>
    <% end %>
  <% end %>
</div>
<div class="span-6">
	<% if @current_user && @event.user_id == @current_user.id %>
		<%= link_to "Your event!", event_attend_path( @event ), :class=>"button2 big"%>
	<% elsif @current_user && @event.attendees.any? && @event.attendees.find_by_user_id(@current_user.id) %>
		<%= link_to "You're going", event_attend_path( @event ), :class=>"button2 big"%>
	<% else %>
		<%= link_to "Join!", event_attend_path( @event ), :class=>"button2 big"%>
	<% end %>
</div>