<h2>
	<%= @event.place %>, <%= localize( @event.starts_at, :format => :short_dayname ) %><br>
	<%= link_to @event.city.name, city_path( @event.city) %>
</h2>
<p class="description"><%= @event.description %></p>
<div class="span-10">
  <h3>Who&rsquo;s coming?</h3>
  <% if @event.attendees.any? %>
  <span class="attendees">
    <% for attendent in @event.attendees.limit(20) %>
	<%= link_to image_tag("http://api.twitter.com/1/users/profile_image/#{attendent.nickname}.json?size=bigger"), "http://twitter.com/#{attendent.nickname}", { :title => attendent.name } %>
    <% end %>
	</span>
  <% end %>
</div>
<div class="span-6">
  <% if @current_user %>
  	<% if @current_user && @event.user_id == @current_user.id %>
  		<%= link_to "Your event!", event_attend_path( @event ), :class=>"button2 big"%>
  	<% elsif @current_user && @event.attendees.any? && @event.attendees.find_by_user_id(@current_user.id) %>
  		<%= link_to "You're going", event_attend_path( @event ), :class=>"button2 big"%>
  	<% else %>
  		<%= link_to "Join!", event_attend_path( @event ), :class=>"button2 big"%>
  	<% end %>
  <% else %>
    <p>To attend, sign in with Twitter:</p>
    <p><%= link_to "Join!", event_attend_path( @event ), { :class => 'twitter' } %></p>
  <% end %>
</div>